
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish <i class="fa-solid fa-upload"></i></button>
      <h4>click to go back <a href='/'>home </a></h4>
    </form>

<%- include("partials/footer"); -%>
