<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <h4> <a href = "mailto:a.g.jegede@wlv.ac.uk?subject = Feedback&body = Message">
        Mail me
        </a></h4>
    <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
